@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

body {
    font-family: 'Roboto';
    margin: 0;
}

.header-nav {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #f9faf8;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}


ul {
    display: flex;
    list-style-type: none;
    gap: 8px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.quote-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 5% 28%;
}

.quotation {
    display: flex;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    margin: 0px;
}

.name {
    text-align: end;
    margin: 0px;
    font-size: 20px;
    font-weight: bold;
}


.footer {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f9faf8;
    padding: 20px;
}
