@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

body {
    
    font-family: 'Roboto';
    margin: 0;
}

/*------------Header Section-------------*/
.header-nav {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #f9faf8;  
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 8px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

/*-------------Hero Header-------------*/

.header-bot {
    display: flex;
    background-color: #1f2937;
    justify-content: space-evenly;
}

.hero-bot {
    display: flex;
    padding: 50px 100px 50px 100px;
   
}

.hero-main-text {
    display: flex;
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.hero-sec-text {
    display: flex;
    font-size: 18px;
    color: #e5e7eb;
}

.hero-sign {
    display: flex;
    background-color: #3882f6;
    color: white;
    border: transparent;
    padding: 10px 10px; 
    border-radius: 5px;  
    cursor: pointer 
}

.petmalu {
    display: flex;
    padding-right: 100px;
    width: 700px;
    height: 300px;
}

/*--------------Information Section-----------*/

.inform-title {
    text-align: center;
    font-size: 26px;
    font-weight: 900;
    margin-bottom: 35px;
    margin-top: 35px;
}

.inform-sec-container {
    display: flex;
    justify-content: center;
    gap: 80px;
    padding-bottom: 100px;
}

.info {
    max-width: 300px;
}

.infoimg {
    height: auto;
    width: 300px;
}

.text {
    text-align: center;
}

/*--------------Quotation Section-------------*/

.quote-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 5% 28%;
}

.quotation {
    display: flex;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    margin: 0px;
    text-align: left;
}

.name {
    text-align: end;
    margin: 0px;
    font-size: 20px;
    font-weight: bold;
}

/*---------------Sign Up Section--------------- */

.bottom-container {
    display: flex;
    padding: 75px;
    justify-content: center;
}

.bottom-sign-container {
    background-color: #3882f6;
    padding: 50px 120px; 
    border-radius: 5px;
    display: flex;
    gap: 150px;
}

.bottom-sign-container{
    display: flex;
}

.text-top {
    color: white;
    font-size: 20px;
    font-weight: bold;
    
}

.text-bot {
    display: block;
    color: white;
    margin-top: 5px;
    font-size: 18px;  
}

.bottom-sign-button {
    background-color: transparent;
    color: white;
    padding: 10px 10px;
    border: 2px solid #F9FAF8;
    border-radius: 8px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer
}

/* --------------Footer Section---------------- */
.footer {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f9faf8;
    padding: 20px;
}
